.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Common {
  color: gray;
  font-weight: bold;
}

.Uncommon {
  color: green;
  font-weight: bold;
}

.Rare {
  color:royalblue;
  font-weight: bold;
}

.Epic {
  color: rgb(163, 67, 214);
  font-weight: bold;
}

.Trait {
  font-weight: bolder;
  background-color: goldenrod;
}

.card-title {
  font-size: smaller;
}

.card-subtitle {
  font-size: small;
}

.card-body {
  padding: 2px;
}